{% extends 'base.html' %}
{% load static %}

{% block title %}Evidence Collected{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="my-4">Evidence Collected</h1>

    <form action="{% url 'case_management_app:evidence_collected' %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Case Information -->
        <div class="form-group">
            <label for="case_title">Case Title:</label>
            {{ form.case_title }}
        </div>

        <div class="form-group">
            <label for="case_description">Case Description:</label>
            {{ form.case_description}}
        </div>

        <div class="form-group">
            <label for="reporter_name">Reporter Name:</label>
            {{ form.reporter_name }}
        </div>

        <div class="form-group">
            <label for="officer_name">Officer Name:</label>
            {{ form.officer_name }}
        </div>

        <div class="form-group">
            <label for="collection_date">Collection Date:</label>
            {{ form.collection_date }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}