{% extends 'base.html' %}

{% block title %}Evidence Presented{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evidence Presented</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Evidence Presented</h1>

        <form action="{% url 'case_management_app:evidence_presented' %}" method="post" class="needs-validation"
            novalidate>
            {% csrf_token %}

            <!-- Case Information -->
            <div class="form-group">
                <label for="case_title">Case Title:</label>
                <input type="text" class="form-control" id="evidence" name="evidence" required>
            </div>

            <div class="form-group">
                <label for="officer_name">Officer's Name:</label>
                <input type="text" class="form-control" id="officer_name" name="officer_name" required>
            </div>

            <div class="form-group">
                <label for="presentation_date">Presentation Date:</label>
                <input type="date" class="form-control" id="presentation_date" name="presentation_date" required>
            </div>

            <!-- Presented To Information -->
            <div class="form-group">
                <label for="presented_to">Presented To:</label>
                <input type="text" class="form-control" id="presented_to" name="presented_to" required>
            </div>

            <div class="form-group">
                <label for="presentation_details">Presentation Details:</label>
                <textarea class="form-control" id="presentation_details" name="presentation_details"
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="verdict">Verdict:</label>
                <input type="text" class="form-control" id="verdict" name="verdict" required>
            </div>

            <div class="form-group">
                <label for="appeal">Appeal:</label>
                <input type="text" class="form-control" id="appeal" name="appeal" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
{% endblock content %}