{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'guest/assets/img/favicon' %}" rel="icon">
  <link href="{% static 'guest/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'guest/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'guest/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'guest/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'guest/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'guest/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'guest/assets/css/style.css' %}" rel="stylesheet">

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

  <!-- datatables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.7.0/css/colReorder.dataTables.min.css">
  <script src="https://cdn.datatables.net/colreorder/1.7.0/js/dataTables.colReorder.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="sticky-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{% url 'user_app:home' %}">EMS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'guest/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% if not user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'user_app:home' %}#">Home</a></li>
          {% endif %}
          <li><a class="nav-link scrollto" href="{% url 'user_app:home' %}#about">About</a></li>
          {% if user.is_authenticated %}
          <li class="dropdown"><a href="#"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="{% url 'case_management_app:register_case' %}"
                  class="nav-link {% if section == 'register_case' %}active{% endif %}">Register Case</a>
              </li>
              <li>
                <a href="{% url 'case_management_app:registered_cases' %}"
                  class="nav-link {% if section == 'registered_cases' %}active{% endif %}">View Registered Cases</a>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_itofficer %}
          <li class="dropdown"><a href="#"><span>Officer Management</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'user_app:register' %}" class="nav-link">Register Officer</a></li>
              <li><a class="nav-link " href="{% url 'user_app:officer_list' %}">View Officers</a></li>
            </ul>
          </li>
          {% endif %}

          
          {% if user.is_itofficer and case and case.id %}
          <li class="dropdown">
            <a href="#"><span>Bin Management</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="{% url 'case_management_app:restore_case' case.id %}">Restore Case {{ case.case_title }}</a>
              </li>
            </ul>
          </li>
          {% endif %}

          <li><a class=" nav-link scrollto" href="{% url 'user_app:home' %}#services">Services</a></li>
          <li><a class="nav-link scrollto" href="{% url 'user_app:home' %}#contact">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'user_app:home' %}#faqs">FAQs</a></li>
          <li>
            {% if user.is_authenticated %}
            <button href="{% url 'user_app:logout' %}" type="button" class="btn btn-link"
              onclick="logMeOut()">Logout</button>
            {% else %}
            <a href="{% url 'user_app:login' %}" class="btn btn-link">Login</a>
            {% endif %}
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  {% if section == 'home' %}
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center"
    style="background-image: url('/static/guest/assets/img/hero-bg.jpeg');">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Evidence Management System</span></h1>
      <h2>The future of proper Chain of Custody is here and we as EMS team embrace it.</h2>
    </div>
  </section><!-- End Hero -->

  {% endif %}
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <script>
    var message = "{{ message|safe }}";
    var alertType = "success";
    console.log(message);

    Swal.fire({
      title: "Success!",
      text: message,
      icon: "success"
    });
  </script>
  {% elif message.tags == 'info' %}
  <script>
    var message = "{{ message|safe }}";
    var alertType = "info";
    console.log(message);

    Swal.fire({
      title: "info!",
      text: message,
      icon: "info"
    });

  </script>

  {% elif message.tags == 'warning' %}
  <script>
    var message = "{{ message|safe }}";
    var alertType = "warning";
    console.log(message);

    Swal.fire({
      title: "Warning!",
      text: message,
      icon: "warning"
    });
  </script>

  {% elif message.tags == 'error' %}
  <script>
    var message = "{{ message|safe }}";
    var alertType = "error";
    console.log(message);

    Swal.fire({
      title: "Error!",
      text: message,
      icon: "error"
    });
  </script>

  {% endif %}
  {% endfor %}
  {% endif %}

  <main id="main" class="min-vh-100">
    {% block content %}

    {% endblock content %}
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>EMS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="#">meki</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/p_omeki" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.linkedin.com/in/patrick-meki/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'guest/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'guest/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'guest/assets/js/main.js' %}"></script>
  <script>
    function logMeOut() {
      Swal.fire({
        title: 'Warning!',
        text: 'Are you sure you want to logout?',
        icon: 'error',
        confirmButtonText: 'Log me out'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "{% url 'user_app:logout' %}";
        }
      })

    }
  </script>


  {% block custom_js %}

  {% endblock custom_js %}


</body>

</html>