{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= What We Do Section ======= -->
<section id="what-we-do" class="what-we-do">
    <div class="container">

        <div class="section-title">
            <h2>What We Do</h2>
            <p>Welcome to the Evidence Management System (EMS), where we revolutionize the way evidence
                is recorded, managed, and analyzed.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-journal-medical"></i></div>
                    <h4><a href="">Evidence Recording</a></h4>
                    <p>The system allow officers to digitally record new cases quickly and efficiently, capturing
                        all necessary details.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-file-earmark-check"></i></div>
                    <h4><a href="">Evidence Management</a></h4>
                    <p>The system will properly manage and store all collected evidence in a digital format, ensuring
                        easy
                        accessibility and retrieval.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-search"></i></div>
                    <h4><a href="">Evidence Analysis</a></h4>
                    <p>The system analyzes collected evidence using built-in tools to extract valuable insights and
                        information.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End What We Do Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="/static/guest/assets/img/about.jpeg" width="100%" height="100%" "
                    class="img-fluid" alt="About Image">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>About EMS</h3>
                <p>
                    The current paper-based evidence management systems in use globally face challenges: data
                    duplication, record loss, unauthorized access, and evidence corruption. However, with the Evidence
                    Management System in place, it revolutionizes evidence management. It ensures efficiency, security,
                    and compliance, addressing traditional system limitations. The system streamlines evidence handling,
                    fortifies security with approval workflows, and facilitates tailored report generation for audits
                    and court proceedings. Emphasis is on data integrity and security, implementing robust encryption
                    and authentication mechanisms. The system safeguards evidence credibility and validity, transforming
                    the way evidence has been handled over the years.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>The EMS offers several services that makes it easy for law enforcements to record cases</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box">
                    <i class="bi bi-journal-medical"></i>
                    <h4><a href="#">Case Registration</a></h4>
                    <p>The system allow officers to digitally register new cases quickly and efficiently, capturing
                        all necessary details.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-collection"></i>
                    <h4><a href="#">Evidence Collection</a></h4>
                    <p>The system efficiently collect and upload various types of evidence related to registered
                        cases.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-cloud"></i>
                    <h4><a href="#">Evidence Storage</a></h4>
                    <p>The system securely store all collected evidence in a digital format, ensuring easy
                        accessibility and retrieval.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-search"></i>
                    <h4><a href="#">Evidence Analysis</a></h4>
                    <p>The system analyzes collected evidence using built-in tools to extract valuable insights and
                        information.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-display"></i>
                    <h4><a href="#">Evidence Presentation</a></h4>
                    <p>The system presents analyzed evidence in a structured and understandable manner, facilitating
                        court proceedings.</p>
                </div>
            </div>


            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-file-earmark-check"></i>
                    <h4><a href="#">Audit Trail</a></h4>
                    <p>The system maintains a comprehensive audit trail of all actions performed within the system for
                        accountability and transparency.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-key"></i>
                    <h4><a href="#">Authentication and Authorization</a></h4>
                    <p>The system implements robust user authentication and authorization mechanisms to ensure secure
                        access to the system.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-bell"></i>
                    <h4><a href="#">Notifications</a></h4>
                    <p>The system provides notifications and alerts for important events, such as new case
                        registrations, evidence
                        analysis completion, etc.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-file-earmark-text"></i>
                    <h4><a href="#">Reporting</a></h4>
                    <p>The system will generate detailed reports and summaries for cases, evidence, and system
                        activities to aid in decision-making and analysis.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-people"></i>
                    <h4><a href="#">Collaboration</a></h4>
                    <p>The system facilitates collaboration among users, allowing for the sharing of information and
                        insights
                        related to cases and evidence.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-shield-lock"></i>
                    <h4><a href="#">Data Encryption</a></h4>
                    <p>Ensure the security of sensitive information through data encryption to protect against
                        unauthorized
                        access.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-archive"></i>
                    <h4><a href="#">Case Disposal</a></h4>
                    <p>The system will efficiently and securely dispose cases, including the option to move them to a
                        recycle bin
                        for a defined period.</p>
                </div>
            </div>

            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-trash"></i>
                    <h4><a href="#">Recycle Bin Management</a></h4>
                    <p>The system properly manages disposed cases in a recycle bin, allowing for restoration within a
                        specified timeframe.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="icon-box">
                    <i class="bi bi-arrow-repeat"></i>
                    <h4><a href="#">Case Restoration</a></h4>
                    <p>The system restore cases from the recycle bin in case further actions need to be taken on
                        previously disposed cases.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->


< <!--=======Team Section=======-->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p>Meet the team behind the Evidence Management System</p>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="/static/guest/assets/img/team/profile.jpeg" width="100%" height="100%" " class="img-fluid"
                        alt="">
                    <h4>Patrick Meki</h4>
                    <span>Founder</span>
                    <p>
                        Patrick Meki is a cybersecurity enthusiast who uses his cybersecurity skills and knowledge to
                        make the
                        internet a better place.
                    </p>
                    <div class="social">
                        <a href="https://twitter.com/p_omeki"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/patrick-meki/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- End Team Section -->
    <!-- ======= FAQs Section ======= -->
    <section id="faqs" class="faqs">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>Find answers to common queries about the Evidence Management System.</p>
            </div>

            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. What is the purpose of the Evidence Management System?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            The system is designed to digitize and streamline the process of recording, managing, and
                            analyzing evidence in a legal context. It aims to replace traditional paper-based methods
                            with a more efficient and secure digital solution.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            2. How do I register a new case in the system?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            To register a new case, navigate to the features section on the home page and a drop down
                            menu with a "Register Case" will appear. You will be prompted to enter relevant case
                            details, victim information, and additional information as needed.


                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            3. Can I upload various types of evidence?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Yes, the system supports the collection and upload of various types of evidence, including
                            documents, images, videos, and more. You can attach relevant files when registering a case
                            or adding evidence to an existing case.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            4. How is evidence analyzed in the system?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            The system provides built-in tools for evidence analysis. Analysts can use these tools to
                            extract valuable insights and information from the collected evidence, aiding in the
                            investigative process.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            5. What happens to disposed cases?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Disposed cases are moved to a recycle bin where they remain for a specified period (e.g., 90
                            days). After this period, they are automatically deleted from the system. Users also have
                            the option to restore disposed cases within the recycle bin timeframe.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            6. How is sensitive information secured in the system?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            The system employs data encryption to ensure the security of sensitive information. This
                            helps protect against unauthorized access and maintains the confidentiality of case and
                            evidence details
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            7. Can I receive notifications for important events?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Yes, the system provides notification features to alert users about important events such as
                            new case registrations, evidence analysis completion, and other relevant updates.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            8. Can I collaborate with other users on a case?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Yes, the system supports collaboration among users. You can share information, insights, and
                            updates related to cases and evidence with other authorized users within the system
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End FAQs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>For any queries, contact below: </p>
            </div>

            <div class="row mt-5 justify-content-center">

                <div class="col-lg-10">

                    <div class="info-wrap">
                        <div class="row">
                            <div class="col-lg-4 info">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Kabarak University<br>Nakuru</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@evidencemanagementsystem</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+254 111923456</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-lg-10">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
    {% endblock content %}