{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Register Case{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Register Case</h1>
    {% bootstrap_form_errors case_form %}
    {% bootstrap_form_errors complainant_form %}
       
    <form class="row g-3 needs-validation" novalidate method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- case details -->
        <div class="form-group">
            {% bootstrap_field case_form.case_title %}
        </div>
        <div class="form-group">
            {% bootstrap_field case_form.case_description %}
        </div>

        <!-- complainant status -->
        <div class="form-group">
            {% bootstrap_field complainant_form.complainant_name %}
        </div>
        <div class="form-group">
            {% bootstrap_field complainant_form.complainant_phone_number %}
        </div>
        <div class="form-group">
            {% bootstrap_field complainant_form.complainant_email %}
        </div>
        <div class="form-group">
            {% bootstrap_field complainant_form.complainant_statement %}
        </div>
      
        <button type="submit" class="btn btn-primary">Create Case</button>
    </form>
</div>
{% endblock content %}