{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Restore Case{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4 text-center">Restore Case {{ case.case_title }}</h1>

    <div class="d-flex justify-content-between">
        <a href="{% url 'case_management_app:disposed_cases' %}" class="btn btn-primary">Back to Disposed Cases</a>
        {% if case.serial_number %}
        <a href="{% url 'case_management_app:registered_case' case.serial_number %}"
            class="btn btn-primary">Back to Case</a>
        {% endif %}
    </div>
    <section class="container">
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Restore Case</button>
        </form>
    </section>
</div>
{% endblock content %}
